
<div class="container">
        <h1>Parkinglot Form</h1>
        <form>
            <div class="form-group">
                <label for="id">Parkinglot id*</label>
                <input type="text" class="form-control" id="pid" required>
            </div>
            <div class="form-group">
                <label for="id">Vehical Number</label>
                <input type="text" class="form-control" id="vid" required>
            </div>
            <div class="form-group">
                <label for="id">Vehical Weight</label>
                <input type="text" class="form-control" id="vw" required>
            </div>
           
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>