<ul>
        <li>  
            <a [routerLink]="'/park-form'">
                <span class="badge">Park</span>
              </a>
        </li>
        <li>
                <a [routerLink]="'/un-park-form'">
                    <span class="badge">UnPark</span>
                  </a>
        </li>
        <li>
                <a [routerLink]="'/list-parkinglist'">
                    <span class="badge">View</span>
                  </a>
        </li>
    </ul>
    
    <router-outlet></router-outlet>